*
!TestisTEs2021-manuscript
!TestisTEs2021-manuscript/*
analysis
analysis/*
!analysis/README.md
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
ftp*
__pycache__
.~lock*
.Rproj.user
RM_*/
*log
*tex
*udpipe*
*html
*Rhistory
